$headerHeight: 60px;
$headerPadding: 10px;
$footerHeight: 60px;

.appContainer {
    display: flex;
    flex-direction: column;
    font-family: "Gill Sans", sans-serif;
}

.appContainer,
.overlay,
.background {
    width: 100%;
    height: 100vh;
}
  
.background, .overlay {
    position: absolute;
    top: 0px;
}

.overlay {
    background-color: var(--dark-extra-transparent);
    z-index: -1;
}
  
.background {
    background-image: url("/hangar.jpg");
    background-size: cover;
    background-position-y: bottom;
    z-index: 5; // then -2 when page ready
}

.appHeader {
    display: flex;
    justify-content: space-between;
    padding: $headerPadding;
    width: 100%;
    height: $headerHeight;
    z-index: 1;
}

.menu {
    button {
        padding: 5px 10px;
    }
}

.menuButton {
    background-color: var(--dark-opaque);
    &:hover {
        background-color: var(--dark-transparent);
    }
}

.menuExpanded {
    padding: 5px 10px;
    width: 100%;
    text-align: left;
}

.shareButtonsBar {
    display: flex;
    align-items: flex-start;
    height: auto;
}

.customButton {
    padding: 0px 10px!important;
}

.appBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1 * $headerHeight;
    max-height: 100%;
}

.appFooter {
    font-size: small;
    font-style: italic;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 1;
    color: var(--text-medium-dark);
}
