@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #ff0000;
@import "~bulma/bulma.sass";
@import "./theme.scss";

body {
  padding: 0;
  margin: 0;
}

.badge, .paragraph {
  background-color: $dark-opaque;
  color: $text-bright;
}

.badge {
  font-family: Segoe UI Light;
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-color: $text-medium;
}

.icon-button {
  font-size: 20px;
  background-color: $element-selected;
  color: $element-selected-bright;
  width: auto;
  height: auto;
  padding: 10px;
  cursor: pointer;
  border: none;

  &:hover {
      background-color: $element-hover;
      color: $element-hover-bright;
  }
  &:disabled {
    cursor: initial;
    color: $text-medium-dark;
    &:hover {
      background-color: $element-selected;
      color: $text-medium-dark;
    }
  }
  
}


