.carsContainer {
  align-self: center;
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: -20px 30px 0 30px;
}

.noCarThumbnail {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-transparent);
  color: var(--text-medium-dark);
  font-size: 8rem;
  margin-bottom: 30px;
}

.carComponent {
  flex: 8;
  width: 100%;
}

@media (orientation: portrait) {
  
  .carsContainer {
      display: block;
      margin-top: 20px;
  }
}

