@import "./index.css";

.App {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: var(--header-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
}

.App-header .top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.App-header .separator {
  color: var(--text-bright);
  width: 100%;
}

.App-header .title-logo {
  display: flex;
  align-items: center;
}

.App-header .title-logo img {
  margin-right: 20px;
}

.selected-button {
  border-color: var(--menu-item-selected-color);
}

.group-incomplete-button {
  background-color: var(--warning);
}

.group-empty-button {
  background-color: var(--error);
}

.App .App-main {
  padding: 20px;
  background-color: var(--body-background-color);
  height: 100%;
  width: 100%;
  flex: 1; /* take all remaining height */
  box-sizing: border-box;
}

@media(orientation: portrait) {
  .App-header .title-logo h1 {
    white-space: pre-line;
  }
}
