@import "./index.css";

.App {
  text-align: center;
  width: 100vw;
}

.App-header {
  background-color: var(--text-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
}

.App-header section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.selected-button {
  border-color: var(--menu-item-selected-color);
}

.group-incomplete-button {
  background-color: var(--warning);
}

.group-empty-button {
  background-color: var(--error);
}
