@import 'theme.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: 0;
  padding: 5px 10px;
  font-size: var(--font-size-rem);
  color: var(--text-extra-bright);
  background-color: var(--text-medium);
}

input {
  line-height: 2em;
  width: 100%;
  max-width: 250px;
}

.error {
  color: red;
}
