* {
    --text-extra-bright: #eee;
    --text-bright: #e1e1e1;
    --text-medium: #a1a1a1;
    --text-medium-dark: grey;
    --text-dark: #333;
    --element-hover: rgba(80,80,80,0.8);
    --element-selected: rgba(80,80,80,0.5);
    --element-hover-bright: #9b9b9b;
    --element-selected-bright: #c8c8c8;
    --dark-extra-transparent: rgba(20,20,20,0.4);
    --dark-transparent: rgba(20,20,20,0.8);
    --dark-opaque: #141414;
    --warning: #ddaa11;
    --error: #dd6344;

    --font-size: 1.3em;
    --font-size-rem: 1.3rem;

    --header-background-color: var(--text-dark);
    --body-background-color: var(--text-extra-bright);
}
