@import '../../../styles/theme.scss';

.logoLink {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  background: none!important;
  padding: 5px;
  color: $text-bright;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.logoLink:hover {
  box-sizing: border-box;
  background: initial;
  background-color: $element-hover!important;
}

.selected, .logoLink:hover.selected {
  background-color: $element-selected-bright!important;
}



