@import '../../../styles/theme.scss';

.menuContainer {
    background-color: $dark-opaque;
    padding: 10px;
    position: absolute;
    ul {
        li {
            a {
                color: $text-bright!important;
                &:hover {
                    color: $text-dark!important;
                }
            }
        }
    }
}

