.car {
    flex: 1;
}

.car2 {
    margin-top: 100px;
}

.iframe {
    //margin-top: 15vh;
    height: 80vh;
    width: 100%;
}

.iconButton {
    padding: 2px 5px 5px 5px;
    background-color: var(--dark-opaque);
}

.iconButtonContainer {
    margin-right: 15px; // correspond à la marge du body dans l'iframe
    margin-bottom: -47px;
    z-index: 1;
}
