.title {
    font-size: 3rem;
    color: var(--text-bright);
    width: 100%;
    text-align: center;
    margin-top: 40px;
    font-family: Segoe UI Light;
    text-decoration: underline;
}

.subTitle {
    text-align: center;
    color: var(--text-bright);
    font-family: Segoe UI Light;
    font-size: 1.5rem;
    margin-bottom: -30px;
}

.car {
    flex: 1;
}

.car2 {
    margin-top: 100px;
}

.iframe {
    //margin-top: 15vh;
    height: 80vh;
    width: 100%;
}

.iconButton {
    padding: 2px 5px 5px 5px;
    background-color: var(--dark-opaque);
}

.iconButtonContainer {
    margin-right: 15px; // correspond à la marge du body dans l'iframe
    margin-bottom: -48px;
    z-index: 1;
}
