@import '../styles/theme.scss';

.main {
    /* 
        to allow background to be 100% even in position absolute 
        (when content is more than 100vh)
    */
    position: relative;
}

.carsContainer {
    align-self: center;
    align-items: flex-start;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: -20px 30px 0 30px;
}


@media (orientation: portrait) {
    
    .carsContainer {
        display: block;
    }
}

