.list, .listHeader {
  background-color: var(--dark-transparent);
}

.listHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px!important;
  padding: 30px 120px 20px 120px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  max-width: 100%;
  overflow: auto;
  padding: 20px;
  li {
    margin-right: 15px;
  }
}
