@import '../../styles/theme.scss';

$height: 15em;

.logoLink {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  text-align: center;
  width: 22em;
  max-height: $height;
  overflow: hidden;
  background: none!important;
  padding: 5px;
  color: var(--text-bright);
  text-transform: uppercase;
  cursor: pointer;

  img {
    height: calc(#{$height} - 2em); // leave space for caption
  }
}

.logoLink:hover, .selected {
  box-sizing: border-box;
  background: initial;
  background-color: rgba(255, 255, 255, 0.6)!important;
}



