@import '../../styles/theme.scss';

.logoLink {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  text-align: center;
  width: 11em;
  height: 6em;
  overflow: hidden;
  background: none!important;
  padding: 5px;
  color: var(--text-bright);
  text-transform: uppercase;
  cursor: pointer;

  img {
    width: 50px;
    max-height: 3.5em;
  }
}

.logoLink:hover, .selected {
  box-sizing: border-box;
  background: initial;
  background-color: rgba(255, 255, 255, 0.6)!important;
}



