@import '../../styles/theme.scss';

$headerHeight: 60px;
$headerPadding: 10px;
$footerHeight: 60px;

.appContainer {
    display: flex;
    flex-direction: column;
    font-family: "Gill Sans", sans-serif;
}

.appContainer,
.overlay,
.background {
    width: 100%;
    min-height: 100vh;
}
  
.background, .overlay {
    position: absolute;
    top: 0px;
    height: 100%;
}

.overlay {
    background-color: $dark-extra-transparent;
    z-index: -2;
}
  
.background {
    background-image: url("/hangar.jpg");
    background-size: cover;
    background-position-y: bottom;
    z-index: -3;
}

.appHeader {
    display: flex;
    justify-content: space-between;
    padding: $headerPadding;
    width: 100%;
    height: $headerHeight;
    z-index: 1;
}

.menu {
    button {
        padding: 5px 10px;
    }
}

.appBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1 * $headerHeight;
    max-height: 100%;
}

.appFooter {
    font-size: small;
    font-style: italic;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: -1; // else it hides last cars selection buttons
    color: $text-medium-dark;
}


@media (orientation: portrait) {
    .appBody {
        height: auto;
        max-height: 100vh;
        overflow-y: auto;
    }

    .appContainer {
        height: auto;
    }
    .overlay,
    .background {
        height: 100%;
    }
}
