@import "/theme.scss";

body {
  padding: 0;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  background-image: url("/hangar.jpg");
  background-size: cover;
  font-family: "Gill Sans", sans-serif;
  min-height: 100vh;
  position: relative;
}

.app-container,
.overlay {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}


.car-content {
  z-index: 1;
  align-self: center;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 90%;
}
