@import "/theme.scss";

body {
  padding: 0;
  margin: 0;
}

.badge, .paragraph {
  background-color: var(--dark-opaque);
  color: var(--text-bright);
}

.badge {
  font-family: Segoe UI Light;
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-color: var(--text-medium);
}

.chrome-text {
  span {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    background: linear-gradient(var(--text-dark), var(--text-bright), var(--text-dark));
    background-clip: text;
    color: transparent;
  }
}

.icon-button {
  font-size: 20px;
  background-color: var(--element-selected);
  color: var(--element-selected-bright);
  width: auto;
  height: auto;
  padding: 10px;
  cursor: pointer;
  border: none;

  &:hover {
      background-color: var(--element-hover);
      color: var(--element-hover-bright);
  }
  
}

