@import '../../styles/theme.scss';

.card {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

h3 {
  font-weight: normal;
}

.imageLink {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 240px;
  height: 50vh;
  background-color: white;
}

.carSummary, .bars {  
  color: var(--text-bright);
  background-color: rgba(55, 55, 70, 0.8);
  width: 100%;
}

.carSummary {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none; /* remove border on select */
  cursor: pointer;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 20px;
}


.name {
  /* Long labels */
  max-width: 70%; /* do not reduce summary arrow */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bars legend {
  color: var(--text-medium);
}

.bars span {
  color: var(--text-extra-bright);
}

.bar {
  width: 0%; /* default value; will be computed later */
  height: 3px;
  margin: 5px 0 10px 0;
}

.barWeight {
  background-color: yellow;
}

.barPower {
  background-color: red;
}

.barRatio {
  background-color: green;
}

.barTitle {
  display: flex;
  justify-content: space-between;
  font-size: small;
}
