.correctVariantsContainer {
    display: flex;
}

.correctVariantsContainer .error {
    color: red;
    text-align: left;
    margin: 0 0 10px 10px;
}

.correctVariantsContainer h3 {
    text-align: left;
    margin: 0 0 10px 0;
}

.correctVariantsContainer form {
    display: grid;
    grid-template-columns: 200px auto;
    margin: 0 40px;
}
