@import '../theme.css';

.crudCarsContainer {
    text-align: left;
}

.crudCarsContainer .error {
    text-align: left;
    margin: 0 0 10px 10px;
}

.crudCarsContainer .addButton {
    margin-bottom: 10px;
    width: auto;
    max-width: fit-content; 
}

.crudCarsContainer .submitButton {
    margin-top: 10px;
    width: auto;
    max-width: fit-content; 
}

.crudCarsContainer .elementsFormContainer {
    display: flex;
}

.crudCarsContainer .fieldsContainer {
    grid-template-columns: 200px auto;
    margin: 0 40px;
}
.crudCarsContainer .fieldsContainerHidden {
    display: none;
}
.crudCarsContainer .fieldsContainerDisplayed {
    display: grid;
}

@media(orientation: portrait) {
    .crudCarsContainer .elementsFormContainer {
        flex-direction: column-reverse;
    }
    .crudCarsContainer form {
        display: flex;
        flex-direction: column;
    }
    .crudCarsContainer .error {
        height: var(--font-size);
    }
    .crudCarsContainer .fieldsContainer {
        margin: 10px 0;
    }

    .crudCarsContainer input {
        width: 100%;
    }
    .crudCarsContainer .fieldsContainerDisplayed {
        display: flex;
        flex-direction: column;
    }
}

.crudCarsItem {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.crudCarsItem button {
    margin-right: 10px;
}

.crudCarsItem .has-image {
    color: green;
    margin-left: 10px
}
