@import '../theme.css';

* {
    --menu-item-width-1: 50%;
    --menu-item-width-2: 50%;
	--menu-max-width: 600px;
	--menu-item-selected-color: var(--element-selected-bright);
	--menu-background-color: var(--text-medium-dark);
}

.css-menu {
	margin: 27px auto 0;
	position: relative;
	width: calc(var(--menu-item-width-1) + var(--menu-item-width-2));
	max-width: var(--menu-max-width);
	background-color: var(--menu-background-color);
	font-size: 0;
	display: flex;
}
.css-menu .menu-item {
	background-color: transparent;
	border-left: 1px solid var(--header-background-color);
	line-height: var(--font-size);
	display: flex;
	position: relative;
	z-index: 1;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.css-menu .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	display: flex;
}

.css-menu .menu-item:nth-child(1) {
	width: var(--menu-item-width-1);
}
.css-menu .menu-item:nth-child(2) {
	width: var(--menu-item-width-2);
}

.css-menu .menu-item.selected {
	background-color: var(--element-hover-bright);
}
.css-menu .menu-item:hover~.animation {
    background-color: var(--menu-item-selected-color);
}

.css-menu .menu-item:nth-child(1):hover~.animation {
	width: var(--menu-item-width-1);
	left: 0;
}
.css-menu .menu-item:nth-child(2):hover~.animation {
	width: var(--menu-item-width-2);
	left: var(--menu-item-width-1);
}

